:root {
  --shade1: #bbddff;
  --shade2: #ddeeff;
  --shade3: #aabbff;
  --shade4: #ffee88;
  --shade5: #eeeeee;
}

@keyframes fade-in {
	from {
		opacity: 0.0;
		top: -100px;
	}
	to {
		opacity: 1.0;
		top: 0px;
	}
}

header > * {
	animation-name: fade-in;
	animation-duration: 2s;
	position: relative;
}

* {
	font-family: Verdana, sans-serif;
}

body {
background-color: white;   
color:#302005;
margin: 0;
}

article {
margin: 10px;
}

footer {
	background-color: black;
	color:white;
}

#references {
	background-color: black;
	color: var(--shade4);
	padding: 5px;
	text-shadow: none;
}

img {
	width: 512px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


table {
	border:5px solid var(--shade4);
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th, td {
	border:2px solid var(--shade5);	
}


figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
}
 
figure {
	/* bord	er:5px solid black; */
}

h1 {
	color: var(--shade4);
}

h2 {
	text-shadow: 2px 2px var(--shade3);
	background-color: var(--shade2);
	padding: 5px;
}

article p {
	border-left: 5px solid var(--shade3);
	padding-left: 5px;
	margin-right: 50px;
}

header p {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
}

dl {
	margin-left: 20px;
}

dt {
	border-left: 5px solid var(--shade4);
	padding-left: 5px;
}

li {
	
}

nav {
	position: sticky;
	top: 0px;
	background-color:var(--shade1);
	padding: 0px;
	border-top: 5px solid var(--shade3);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 90px;
	display: flex;
}

nav ul h2 {
	margin-right: 20px;
	margin-left: 20px;
	background-color: initial;
	flex-basis: 100px;
}

nav li {
	border: 5px solid var(--shade1);
	background-color: var(--shade2);
	flex: 1;
	text-align: center;
	padding: 5px;
}

nav li a {
	text-decoration-line: none;
	font-size: 16px;
	font-weight: 900;
	text-shadow: 2px 2px var(--shade1);
}

nav li a:link, nav li a:visited {
	color: black;
}

nav li a:hover {
	color: white;
}

nav li a:active {
	color: var(--shade4);
}

header {
	background-color:  black;
	text-align: center;
	padding: 10px;
	padding-top: 100px;
	color:white;
}